@page "/courses"
@inherits CourseListBase
@using CoursePlus.Shared.Infrastructure

<div id="wrapper">

    <Header Class="header" UkSticky="top:20; cls-active:header-sticky">
        <Breadcrumbs>
            <li><a href="/" uk-tooltip="title:Home; pos:bottom; offset:21"> <i class="uil-home-alt"></i> </a></li>
            <li>Courses</li>
        </Breadcrumbs>
    </Header>

    <SearchOnMobile></SearchOnMobile>

    <SearchOnDesktop></SearchOnDesktop>

    <SideNav></SideNav>

    <div class="page-content">

        <div class="container">

            <h1>Courses</h1>

            <div class="section-header pb-0 mt-5">
                <div class="section-header-left">
                    <h4> Learn at your own pace </h4>
                </div>
                <div class="section-header-right">

                    <a href="#" class="btn-filter" uk-tooltip="title: Course Filter ; pos:  top-right"
                       uk-toggle="target: #course-filter">
                        <i class="icon-feather-filter"></i>
                    </a>
                    <div class="display-as">
                        <a href="courses-list.html" uk-tooltip="title: Course list; pos: top-right">
                            <i class="icon-feather-grid"></i>
                        </a>
                        <a href="#" class="active" uk-tooltip="title: Course Grid; pos: top-right">
                            <i class="icon-feather-list"></i>
                        </a>
                    </div>

                    <EditForm EditContext="@EditContextForSortOrderModel">

                        <InputSelectCustom id="SortOrder" class="selectpicker ml-3" @bind-Value="CurrentSortOrderModel.SortOrder">
                            <option value="@EnumSortOrder.Newest"> Newest </option>
                            <option value="@EnumSortOrder.Popular"> Popular </option>
                            <option value="@EnumSortOrder.Featured"> Featured </option>
                        </InputSelectCustom>

                    </EditForm>

                </div>
            </div>

            <div class="section-small">

                @if (SomeCourses != null)
                {
                    <div class="uk-child-width-1-4@m uk-child-width-1-3@s course-card-grid uk-grid-match" uk-grid>

                        @foreach (var OneCourse in SomeCourses.Items)
                        {
                            <div class="uk-margin-small-bottom">
                                <a href="/course/@OneCourse.Id">
                                    <div class="course-card">
                                        <div class="course-card-thumbnail">
                                            @if (OneCourse.Thumbnail != null)
                                            {
                                                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(OneCourse.Thumbnail.Data))" style="object-fit: fill;">
                                            }
                                            <span class="play-button-trigger"></span>
                                        </div>
                                        <div class="course-card-body">
                                            <div class="course-card-info">
                                                <div>
                                                    <span class="catagroy"> @OneCourse.Category.Name </span>
                                                </div>
                                                <div>
                                                    <i class="icon-feather-bookmark icon-small"></i>
                                                </div>
                                            </div>

                                            <h4> @OneCourse.Title </h4>
                                            <p>  @OneCourse.SubTitle </p>

                                            <div class="course-card-footer">
                                                <h5> <i class="icon-feather-film"></i> 33 Lectures </h5>
                                                <h5> <i class="icon-feather-clock"></i> 26 Hours </h5>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        }

                    </div>

                    <div class=" uk-flex uk-flex-center uk-margin-top uk-margin-bottom uk-width-expand">

                        <Pager PageIndex=@SomeCourses.PageIndex TotalPages=@SomeCourses.TotalPages OnClick="@((newPageNumber) => PageIndexChanged(SomeCourses, newPageNumber))"
                               HasNextPage=@SomeCourses.HasNextPage HasPreviousPage=@SomeCourses.HasPreviousPage>
                        </Pager>

                    </div>
                }

            </div>

            <div id="course-filter" uk-offcanvas="flip: true; overlay: true">
                <div class="uk-offcanvas-bar">

                    <!-- close button -->
                    <button class="uk-offcanvas-close" type="button" uk-close></button>

                    <div class="sidebar-filter">

                        <div class="sidebar-filter-contents">

                            <EditForm EditContext="@EditContextForFilterModel">

                                <h4> Filter By </h4>

                                <ul class="sidebar-filter-list" uk-accordion="multiple: true">

                                    <li>
                                        <a class="uk-accordion-title" href="#"> Difficulty level </a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-form-controls">
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="null" @bind-Value="@CurrentFilterModel.DifficultyFilter" />
                                                    <span class="test"> Any </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumDifficulty.Beginner" @bind-Value="@CurrentFilterModel.DifficultyFilter" />
                                                    <span class="test"> Beginner </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumDifficulty.Intermediate" @bind-Value="@CurrentFilterModel.DifficultyFilter" />
                                                    <span class="test"> Intermediate </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumDifficulty.Advanced" @bind-Value="@CurrentFilterModel.DifficultyFilter" />
                                                    <span class="test"> Advanced </span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="uk-accordion-title" href="#"> Duration time </a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-form-controls">
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="null" @bind-Value="@CurrentFilterModel.DurationFilter" />
                                                    <span class="test"> Any </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumDuration.MoreThan2Hours" @bind-Value="@CurrentFilterModel.DurationFilter" />
                                                    <span class="test"> +2 hours </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumDuration.MoreThan5Hours" @bind-Value="@CurrentFilterModel.DurationFilter" />
                                                    <span class="test"> +5 hours </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumDuration.MoreThan10Hours" @bind-Value="@CurrentFilterModel.DurationFilter" />
                                                    <span class="test"> +10 hours </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumDuration.MoreThan20Hours" @bind-Value="@CurrentFilterModel.DurationFilter" />
                                                    <span class="test"> +20 hours </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumDuration.MoreThan30Hours" @bind-Value="@CurrentFilterModel.DurationFilter" />
                                                    <span class="test"> +30 hours </span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="uk-accordion-title" href="#"> Category </a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-form-controls">

                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="null" @bind-Value="@CurrentFilterModel.CategoryFilter" />
                                                    <span class="test"> Any </span>
                                                </label>

                                                @if (Categories != null)
                                                {
                                                    foreach (var Category in Categories)
                                                    {
                                                        <label>
                                                            <InputRadio class="uk-radio" SelectedValue="@Category.Id" @bind-Value="@CurrentFilterModel.CategoryFilter" />
                                                            <span class="test"> @Category.Name </span>
                                                        </label>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="uk-accordion-title" href="#"> Rating </a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-form-controls">
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="null" @bind-Value="@CurrentFilterModel.RatingFilter" />
                                                    <span class="test"> Any </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumRating.OneStarAndHigher" @bind-Value="@CurrentFilterModel.RatingFilter" />
                                                    <span class="test"> 1 star and higher </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumRating.TwoStarsAndHigher" @bind-Value="@CurrentFilterModel.RatingFilter" />
                                                    <span class="test"> 2 stars and higher </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumRating.FourStarsAndHigher" @bind-Value="@CurrentFilterModel.RatingFilter" />
                                                    <span class="test"> 3 stars and higher </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumRating.FourStarsAndHigher" @bind-Value="@CurrentFilterModel.RatingFilter" />
                                                    <span class="test"> 4 stars and higher </span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="uk-accordion-title" href="#"> Date added </a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-form-controls">
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="null" @bind-Value="@CurrentFilterModel.PeriodeFilter" />
                                                    <span class="test"> Any </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumPeriode.LastMonth" @bind-Value="@CurrentFilterModel.PeriodeFilter" />
                                                    <span class="test"> In the last month </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumPeriode.Last3Months" @bind-Value="@CurrentFilterModel.PeriodeFilter" />
                                                    <span class="test"> In the last 3 months </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumPeriode.Last6Months" @bind-Value="@CurrentFilterModel.PeriodeFilter" />
                                                    <span class="test"> In the last 6 months </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumPeriode.Last12Months" @bind-Value="@CurrentFilterModel.PeriodeFilter" />
                                                    <span class="test"> In the last year </span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="uk-accordion-title" href="#"> Classment </a>
                                        <div class="uk-accordion-content">
                                            <div class="uk-form-controls">
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="null" @bind-Value="@CurrentFilterModel.ClassmentFilter" />
                                                    <span class="test"> Any </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumClassment.Popular" @bind-Value="@CurrentFilterModel.ClassmentFilter" />
                                                    <span class="test"> Popular only </span>
                                                </label>
                                                <label>
                                                    <InputRadio class="uk-radio" SelectedValue="EnumClassment.Featured" @bind-Value="@CurrentFilterModel.ClassmentFilter" />
                                                    <span class="test"> Featured only </span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </EditForm>

                        </div>

                    </div>

                </div>
            </div>

            <Footer></Footer>

        </div>

    </div>

</div>
