@page "/course/{Id:int}/player"
@inherits CoursePlayerBase
@*@attribute [Authorize(Policy = Policies.IsUser)]*@

<div id="wrapper">

    <div class="course-layouts">

        <div class="course-content bg-dark">

            <div class="course-header">

                <a href="#" class="btn-back" uk-toggle="target: .course-layouts; cls: course-sidebar-collapse">
                    <i class="icon-feather-chevron-left"></i>
                </a>

                <h4 class="text-white"> @OneCourse?.Title </h4>

                <div>
                    <a href="#">
                        <i class="icon-feather-help-circle btns"></i>
                    </a>
                    <div uk-drop="pos: bottom-right; mode: click">
                        <div class="uk-card-default p-4">
                            <h4> @OneCourse?.SubTitle </h4>
                            <p class="mt-2 mb-0">
                                @((MarkupString)OneCourse?.Description)
                            </p>
                        </div>
                    </div>

                    <a hred="#">
                        <i class="icon-feather-more-vertical btns"></i>
                    </a>
                    <div class="dropdown-option-nav " uk-dropdown="pos: bottom-right ; mode: click">
                        <ul>

                            <li>
                                <a href="#">
                                    <i class="icon-feather-bookmark"></i>
                                    Add To Bookmarks
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-feather-share-2"></i>
                                    Share With Friend
                                </a>
                            </li>

                            <li>
                                <span id="night-mode" class="btn-night-mode">
                                    <i class="icon-line-awesome-lightbulb-o"></i>
                                    Night mode
                                    <label class="btn-night-mode-switch">
                                        <span class="uk-switch-button"></span>
                                    </label>
                                </span>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>

            <div class="course-content-inner">

                <div class="uk-width-1-1">

                    <div class="video-responsive">

                        <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="@OneCourse?.Chapters.FirstOrDefault().Episodes.FirstOrDefault().VideoUrl"></div>

                    </div>

                </div>

            </div>

        </div>

        <!-- course sidebar -->

        <div class="course-sidebar">
            <div class="course-sidebar-title">
                <a href="javascript:void(0)" @onclick="GoBack">
                    <i class="icon-material-outline-undo btns"></i>
                </a>
                <h3> Table of Contents </h3>
            </div>
            <div class="course-sidebar-container" data-simplebar>

                <ul class="course-video-list-section" uk-accordion>

                    @if (OneCourse != null && OneCourse.Chapters != null)
                    {
                        var index = 0;
                        foreach (var OneChapter in OneCourse.Chapters)
                        {
                            <li class="@(index==0 ? "uk-open" : "")">
                                <a class="uk-accordion-title" href="#"> @OneChapter.Title </a>
                                <div class="uk-accordion-content">
                                    <ul class="course-video-list highlight-watched">

                                        @if (OneChapter.Episodes != null)
                                        {
                                            foreach (var OneEpisode in OneChapter.Episodes)
                                            {
                                                <li class="@(StudentAlreadyWatchedThisEpisode(OneEpisode) ? "watched" : "")"> <a href="javascript:void(0)" @onclick="@( () => LoadYouTubeVideo(OneEpisode) )"> @OneEpisode.Title <span> @OneEpisode.Duration min </span> </a> </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </li>
                            index++;
                        }
                    }
                </ul>

            </div>

        </div>

    </div>

</div>
