@page "/quiz/{Id:int}/play"
@inherits QuizPlayBase

<div id="wrapper">

    <Header Class="header header-transparent uk-light" UkSticky="top: 1 ; cls-active: header-sticky ; cls-inactive: uk-light ; animation: uk-animation-slide-top-small">
        <BreadcrumbsDesktop>
            <li><a href="/"> <i class="uil-home-alt"></i> </a></li>
            <li><a href="/quizzes"> Quizzes </a></li>
            <li><a href="/quiz/@OneQuiz?.Id"> Quiz @OneQuiz?.Title </a></li>
            <li>Quiz play</li>
        </BreadcrumbsDesktop>
    </Header>

    <SearchOnMobile></SearchOnMobile>

    <SearchOnDesktop></SearchOnDesktop>

    <SideNav></SideNav>

    <div class="page-content">

        <div class="playlist-details-wrapper topic-1 uk-light pt-5">

            <div class="container p-sm-0">

                <div uk-grid>
                    <div class="uk-width-2-3@m">

                        <div class="playlist-details">
                            <h1> @(OneQuiz==null? "." : OneQuiz.Title)</h1>
                            <p>
                                Categorized in <a href="#"> @OneQuiz?.Category.Name </a>
                            </p>

                            <div class="playlist-details-info mt-4">
                                <ul>
                                    <li>
                                        <div class="star-rating">
                                            <span class="avg"> 4.9 </span> <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                        </div>
                                    </li>
                                    <li> <i class="icon-feather-users"></i> @OneQuiz?.Enrollments.Count() Enrolled </li>
                                </ul>
                            </div>

                            <div class="playlist-details-info">

                                <ul>
                                    <li> Created by <a href="#"> @OneQuiz?.Owner.User.FirstName @OneQuiz?.Owner.User.LastName </a> </li>
                                    <li> Last updated @OneQuiz?.UpdatedTime.Value.ToString("MM/yyyy")</li>
                                </ul>

                            </div>
                        </div>
                        <nav class="responsive-tab style-5">
                            <ul uk-switcher="connect: #playlist-intro-tab ;animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">
                                
                            </ul>
                        </nav>

                    </div>
                </div>

            </div>
        </div>

        <div class="container">

            <div class="uk-grid-large mt-4" uk-grid>
                <div class="uk-width-2-3@m">

                    <div class="uk-text-center @( TimerState == TIMER_STOPPED ? "uk-visible": "uk-hidden" )">
                        <p>

                            <div class="uk-grid">
                                <div class="uk-width-1-10"></div>
                                <div class="uk-width-4-10 uk-text-left"><span>How many questions to ask ?</span></div>
                                <div class="uk-width-1-10"><i class="icon-feather-arrow-left-circle uk-text-large"></i></div>
                                <div class="uk-width-2-10"><b>@How_many_questions_to_ask questions</b></div>
                                <div class="uk-width-1-10"><i class="icon-feather-arrow-right-circle uk-text-large"></i></div>
                                <div class="uk-width-1-10"></div>
                            </div>

                            <div class="uk-grid">
                                <div class="uk-width-1-10"></div>
                                <div class="uk-width-4-10 uk-text-left"><span>How many time to respond ?</span></div>
                                <div class="uk-width-1-10"><i class="icon-feather-arrow-left-circle uk-text-large"></i></div>
                                <div class="uk-width-2-10"><b>@How_many_time_to_respond seconds</b></div>
                                <div class="uk-width-1-10"><i class="icon-feather-arrow-right-circle uk-text-large"></i></div>
                                <div class="uk-width-1-10"></div>
                            </div>

                            <div class="uk-grid">
                                <div class="uk-width-1-10"></div>
                                <div class="uk-width-4-10 uk-text-left"><span>What level of difficulty ?</span></div>
                                <div class="uk-width-1-10"><i class="icon-feather-arrow-left-circle uk-text-large"></i></div>
                                <div class="uk-width-2-10"><b>@TranslateDifficulty(What_level_of_difficulty)</b></div>
                                <div class="uk-width-1-10"><i class="icon-feather-arrow-right-circle uk-text-large"></i></div>
                                <div class="uk-width-1-10"></div>
                            </div>

                            <div class="uk-grid">
                                <div class="uk-width-1-10"></div>
                                <div class="uk-width-4-10 uk-text-left"><span>Press button below to start the quiz.</span></div>
                                <div class="uk-width-5-10"></div>
                            </div>

                        </p>
                        <div class="uk-text-center">
                            <a href="javascript:void(0)" class="px-5 py-4 btn btn-default startStopTimer">
                                <i class="uil-play"></i> Play now
                            </a>
                        </div>
                    </div>
                    
                    <div class="uk-text-center @( TimerState == TIMER_PAUSED ? "uk-visible": "uk-hidden" )">
                        <p>
                            The quiz is in pause...
                        </p>
                        <a href="javascript:void(0)" class="px-5 py-4 btn btn-default startStopTimer">
                            <i class="uil-play"></i> Resume quiz
                        </a>
                    </div>
                    

                    @if (OneQuiz != null && (TimerState == TIMER_STARTED || TimerState == TIMER_RESUMED))
                    {
                        @foreach (var OneItem in OneQuiz.Items)
                        {
                            <div class="uk-text-center py-3">
                                <h5> @OneItem.Question </h5>
                            </div>

                            <div class="uk-grid-small uk-child-width-1-4@s uk-flex uk-text-center quiz-item">

                                @foreach (var OneProposal in OneItem?.Proposals)
                                {
                                    <div class="uk-card uk-card-default uk-card-body uk-border-pill p-2 m-3 quiz-proposal @( Chosen(OneProposal) ? "selected" : "" )" @onclick="@( () => ProposalClicked(OneProposal) )">
                                        @OneProposal.Proposition
                                    </div>
                                }

                            </div>

                            <hr />
                        }
                    }

                </div>

                <div class="uk-width-1-3@m">
                    <div class="playlist-card-trailer uk-position-fixed" uuuuk-sticky="top: 1 ; offset: 85 ; media: @@m" style="top: 378px; right: 20px; width: 370px;">

                        <div class="playlist-thumbnail">
                            <img src="@( OneQuiz!=null ? String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(OneQuiz.Image.Data)) : "" )" alt="" style="height: 200px; min-height: 200px; width: 350px; min-width: 350px;">
                        </div>

                        <div class="pt-3 pb-5">
                            <Timer OnStateChanged="TimerStateChangedCallback"></Timer>
                        </div>

                    </div>
                </div>
                </div>

            <Footer></Footer>

        </div>
    </div>
    
</div>
