@page "/admin/books"
@inherits BookListBase

<div id="wrapper">

    <Header Class="header" UkSticky="top:20; cls-active:header-sticky">
        <Breadcrumbs>
            <li><a href="/" uk-tooltip="title:Home; pos:bottom; offset:21"> <i class="uil-home-alt"></i> </a></li>
            <li><a href="/admin-dashboard">Admin dashboard</a></li>
            <li>All books</li>
        </Breadcrumbs>
    </Header>

    <SearchOnMobile></SearchOnMobile>

    <SearchOnDesktop></SearchOnDesktop>

    <SideNav></SideNav>

    <div class="page-content">
        <div class="page-content-inner mw-100">

            <div class="card">

                <!-- Card header -->
                <div class="card-header actions-toolbar border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="d-inline-block mb-0">All books</h4>
                        <div class="d-flex">

                            <a href="#" class="btn btn-icon btn-hover btn-circle" uk-tooltip="Search product">
                                <i class="uil-search"></i>
                            </a>
                            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                                <form class="uk-search uk-search-navbar uk-width-1-1">
                                    <input class="uk-search-input shadow-0 uk-form-small" type="search"
                                           placeholder="Search..." autofocus>
                                </form>
                            </div>

                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="Filter">
                                <i class="uil-filter"></i>
                            </a>
                            <div uk-dropdown="pos: bottom-right ; mode: click ;animation: uk-animation-scale-up">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="@(FilterIndicator("", ""))"><a @onclick="@(() => Filter("", ""))">None</a></li>
                                    <li class="@(FilterIndicator("Featured", "true"))"><a @onclick="@(() => Filter("Featured", "true"))"><i class="icon-material-outline-arrow-right"></i> Featured</a></li>
                                    <li class="@(FilterIndicator("Popular", "true"))"><a @onclick="@(() => Filter("Popular", "true"))"><i class="icon-material-outline-arrow-right"></i> Popular</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li class="uk-nav-header">Language</li>
                                    <li class="@(FilterIndicator("Language", "English"))"><a @onclick="@(() => Filter("Language", "English"))"><i class="icon-material-outline-arrow-right"></i> English</a></li>
                                    <li class="@(FilterIndicator("Language", "French"))"><a @onclick="@(() => Filter("Language", "French"))"><i class="icon-material-outline-arrow-right"></i> French</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li class="uk-nav-header">Category</li>

                                    @if (SomeCategories != null)
                                    {
                                        @foreach (var OneCategory in SomeCategories)
                                        {
                                            <li class="@(FilterIndicator("CategoryId", OneCategory.Id.ToString()))"><a @onclick="@(() => Filter("CategoryId", OneCategory.Id.ToString()))"><i class="icon-material-outline-arrow-right"></i>@OneCategory.Name</a></li>
                                        }
                                    }
                                </ul>
                            </div>

                            <a href="#" class="btn btn-icon btn-hover btn-circle" uk-tooltip="More">
                                <i class="uil-ellipsis-h"></i>
                            </a>
                            <div uk-dropdown="pos: bottom-right ; mode: click ;animation: uk-animation-scale-up">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a @onclick="RefreshListAsync">Refresh</a></li>
                                    <li><a @onclick="AddBook">Add new book</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left"><span class="uk-margin-large-left" @onclick="@(() => Sort("Title"))">Title</span><i class="@(SortIndicator("Title"))"></i></th>
                                <th scope="col" class="text-center"><span @onclick="@(() => Sort("PublishingDate"))">Publishing</span><i class="@(SortIndicator("PublishingDate"))"></i></th>
                                <th scope="col" class="text-center"><span @onclick="@(() => Sort("Language"))">Language</span><i class="@(SortIndicator("Language"))"></i></th>
                                <th scope="col" class="text-center"><span @onclick="@(() => Sort("PageCount"))">Pages</span><i class="@(SortIndicator("PageCount"))"></i></th>
                                <th scope="col" class="text-center"><span @onclick="@(() => Sort("Category"))">Category</span><i class="@(SortIndicator("Category"))"></i></th>
                                <th scope="col" class="text-center"><span @onclick="@(() => Sort("Featured"))">Featured</span><i class="@(SortIndicator("Featured"))"></i></th>
                                <th scope="col" class="text-center"><span @onclick="@(() => Sort("Popular"))">Popular</span><i class="@(SortIndicator("Popular"))"></i></th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @if (SomeBooks != null)
                            {
                                @foreach (var OneBook in SomeBooks)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div>
                                                    <div class="avatar-parent-child" style="width: max-content">

                                                        @if (OneBook.Thumbnail != null)
                                                        {
                                                            <img class="avatar rounded-0" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(OneBook.Thumbnail.Data))" />
                                                        }

                                                    </div>
                                                </div>
                                                <div class="media-body ml-4">
                                                    <a href="#" class="name h6 mb-0 text-sm">@OneBook.Title</a>
                                                    <small class="d-block font-weight-bold">@OneBook.Author</small>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="text-center">@OneBook.PublishingDate.ToString("yyyy")</td>
                                        <td class="text-center">@OneBook.Language</td>
                                        <td class="text-center">@OneBook.PageCount</td>
                                        <td class="text-center">@OneBook.Category.Name</td>
                                        <td class="text-center"><i class="@(OneBook.Featured ? "icon-material-outline-star" : "icon-material-outline-star-border")"></i></td>
                                        <td class="text-center"><i class="@(OneBook.Popular ? "icon-material-outline-favorite" : "icon-material-outline-favorite-border")"></i></td>
                                        <td class="text-right">
                                            <!-- Actions -->
                                            <div class="actions ml-3">
                                                <a href="/book/@OneBook.Id" class="btn btn-icon btn-hover btn-sm btn-circle" uk-tooltip="Quick view">
                                                    <i class="uil-external-link-alt"></i>
                                                </a>
                                                <a class="btn btn-icon btn-hover btn-sm btn-circle" uk-tooltip="Edit" @onclick="@(e => EditBook(OneBook))">
                                                    <i class="uil-pen"></i>
                                                </a>
                                                <a class="btn btn-icon btn-hover btn-sm btn-circle" uk-tooltip="Delete" @onclick="@(e => DeleteBook(OneBook))">
                                                    <i class="uil-trash-alt text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Card footer -->
                <div class="card-footer">
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-width-1-2">
                            @PaginatedList.TotalItems items
                        </div>
                        <div class="uk-width-1-2">
                            <Pager PageIndex=@PaginatedList.PageIndex TotalPages=@PaginatedList.TotalPages OnClick="PageIndexChanged" AlignClass="uk-flex-right"
                                   HasNextPage=@PaginatedList.HasNextPage HasPreviousPage=@PaginatedList.HasPreviousPage>
                            </Pager>
                        </div>
                    </div>
                </div>

            </div>

            <Footer></Footer>

        </div>

    </div>

</div>