@page "/admin/books"
@inherits BookListBase

<div id="wrapper">

    <Header Class="header" UkSticky="top:20; cls-active:header-sticky">
        <Breadcrumbs>
            <li><a href="/" uk-tooltip="title:Home; pos:bottom; offset:21"> <i class="uil-home-alt"></i> </a></li>
            <li><a href="/admin-dashboard">Admin dashboard</a></li>
            <li>All books</li>
        </Breadcrumbs>
    </Header>

    <SearchOnMobile></SearchOnMobile>

    <SearchOnDesktop></SearchOnDesktop>

    <SideNav></SideNav>

    <div class="page-content">
        <div class="page-content-inner mw-100">

            <div class="card">
                <!-- Card header -->
                <div class="card-header actions-toolbar border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="d-inline-block mb-0">All books (@SomeBooks?.Count())</h4>
                        <div class="d-flex">

                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="Search product">
                                <i class="uil-search"></i>
                            </a>
                            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                                <form class="uk-search uk-search-navbar uk-width-1-1">
                                    <input class="uk-search-input shadow-0 uk-form-small" type="search"
                                           placeholder="Search..." autofocus>
                                </form>
                            </div>

                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="filter">
                                <i class="uil-filter"></i>
                            </a>
                            <div uk-dropdown="pos: bottom-right ; mode: click ;animation: uk-animation-scale-up">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="@(CurrentFilter == EnumFilters.All ?      "uk-active" : "")"><a @onclick="GetAllBooksAsync">All</a></li>
                                    <li class="@(CurrentFilter == EnumFilters.Featured ? "uk-active" : "")"><a @onclick="GetFeaturedBooksAsync">Featured</a></li>
                                    <li class="@(CurrentFilter == EnumFilters.Popular ?  "uk-active" : "")"><a @onclick="GetPopularBooksAsync">Popular</a></li>
                                </ul>
                            </div>


                            <a href="#" class="btn btn-icon btn-hover  btn-circle" uk-tooltip="More">
                                <i class="uil-ellipsis-h"></i>
                            </a>
                            <div uk-dropdown="pos: bottom-right ; mode: click ;animation: uk-animation-scale-up">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a @onclick="RefreshListAsync">Refresh</a></li>
                                    <li><a @onclick="AddBook">Add new book</a></li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center"></th>
                                <th scope="col" class="text-center">Publishing</th>
                                <th scope="col" class="text-center">Language</th>
                                <th scope="col" class="text-center">Pages</th>
                                <th scope="col" class="text-center">Category</th>
                                <th scope="col" class="text-center">Featured</th>
                                <th scope="col" class="text-center">Popular</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @if (SomeBooks != null)
                            {
                                @foreach (var OneBook in SomeBooks)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div>
                                                    <div class="avatar-parent-child" style="width: max-content">

                                                        @if (OneBook.Thumbnail != null)
                                                        {
                                                            <img class="avatar rounded-0" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(OneBook.Thumbnail.Data))" />
                                                        }

                                                    </div>
                                                </div>
                                                <div class="media-body ml-4">
                                                    <a href="#" class="name h6 mb-0 text-sm">@OneBook.Title</a>
                                                    <small class="d-block font-weight-bold">@OneBook.Author</small>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="text-center">@OneBook.PublishingDate.ToString("yyyy")</td>
                                        <td class="text-center">@OneBook.Language</td>
                                        <td class="text-center">@OneBook.PageCount</td>
                                        <td class="text-center">@OneBook.Category.Name</td>
                                        <td class="text-center"><i class="@(OneBook.Featured ? "icon-material-outline-star" : "icon-material-outline-star-border")"></i></td>
                                        <td class="text-center"><i class="@(OneBook.Popular ? "icon-material-outline-favorite" : "icon-material-outline-favorite-border")"></i></td>
                                        <td class="text-right">
                                            <!-- Actions -->
                                            <div class="actions ml-3">
                                                <a href="#" class="btn btn-icon btn-hover btn-sm btn-circle" uk-tooltip="Quick view">
                                                    <i class="uil-external-link-alt"></i>
                                                </a>
                                                <a class="btn btn-icon btn-hover btn-sm btn-circle" uk-tooltip="Edit" @onclick="@(e => EditBook(OneBook))">
                                                    <i class="uil-pen"></i>
                                                </a>
                                                <a class="btn btn-icon btn-hover btn-sm btn-circle" uk-tooltip="Delete" @onclick="@(e => DeleteBook(OneBook))">
                                                    <i class="uil-trash-alt text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <Footer></Footer>

        </div>

    </div>

</div>