@page "/admin/course/{Id:int}"
@inherits CourseEditBase

<div id="wrapper">

    <Header Class="header" UkSticky="top:20; cls-active:header-sticky">
        <Breadcrumbs>
            <li><a href="/" uk-tooltip="title:Home; pos:bottom; offset:21"> <i class="uil-home-alt"></i> </a></li>
            <li><a href="/admin/dashboard">Admin dashboard</a></li>
            <li><a href="/admin/courses">All courses</a></li>
            <li>@OneCourse.Title</li>
        </Breadcrumbs>
    </Header>

    <SearchOnMobile></SearchOnMobile>

    <SearchOnDesktop></SearchOnDesktop>

    <SideNav></SideNav>

    <!-- content -->
    <div class="page-content">
        <div class="page-content-inner">

            <div class="card">
                <div class="card-header border-bottom-0 py-4">
                    <h4 class="float-left mb-0"> Course @OneCourse.Id </h4>
                    <div class="float-right @StatusClass"><b>@Message</b></div>
                </div>


                <ul class="uk-child-width-expand uk-tab"
                    uk-switcher="connect: #course-edit-tab ; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                    <li class="uk-active"><a href="#"> Basic </a></li>
                    <li><a href="#"> Episodes </a></li>
                    <li><a href="#"> Image </a></li>
                    <li><a href="#"> Requirements </a></li>
                    <li><a href="#"> Pricing </a></li>
                    <li><a href="#"> Finish </a></li>
                </ul>

                <EditForm Model="@OneCourse" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" ccclass="uk-child-width-1-1@s uk-grid-small p-4" uuuuk-grid>

                    <div class="card-body">

                        <ul class="uk-switcher uk-margin" id="course-edit-tab">

                            <li>

                                <div class="row">
                                    <div class="col-xl-9 m-auto">

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_title">
                                                Course title<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <InputText Id="title" class="uuuuk-input form-control" @bind-Value="OneCourse.Title" placeholder="" />
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_subtitle">
                                                Subtitle
                                            </label>
                                            <div class="col-md-9">
                                                <InputTextArea rows="1" class="form-control" @bind-Value="OneCourse.SubTitle" />
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="short_description">
                                                Description
                                            </label>
                                            <div class="col-md-9">
                                                <InputTextArea rows="15" class="form-control" @bind-Value="OneCourse.Description" />
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_instructor">
                                                Instructor <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <InputSelectCustom id="instructor" class="form-control col-sm-8" @bind-Value="@OneCourse.InstructorId">
                                                    <option value=""></option>
                                                    @foreach (var instructor in Instructors)
                                                    {
                                                <option value="@instructor.Id">@instructor.User.FirstName @instructor.User.LastName</option>
                                                    }
                                                </InputSelectCustom>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_category">
                                                Category <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <InputSelectCustom id="category" class="form-control col-sm-8" @bind-Value="@OneCourse.CategoryId">
                                                    <option value=""></option>
                                                    @foreach (var category in Categories)
                                                    {
                                                        <option value="@category.Id">@category.Name</option>
                                                    }
                                                </InputSelectCustom>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_title">
                                                Language <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">

                                                <InputSelectCustom Id="language" class="form-control col-sm-8" @bind-Value="OneCourse.Language">
                                                    <option value=""></option>
                                                    <option value="English">English</option>
                                                    <option value="French">French</option>
                                                </InputSelectCustom>

                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="course_title">
                                                Difficulty <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">

                                                <InputSelectCustom Id="difficulty" class="uuuuk-select form-control col-sm-8" @bind-Value="OneCourse.Difficulty">
                                                    <option value=""></option>
                                                    <option value="Beginner"> Beginner </option>
                                                    <option value="Intermediate"> Intermediate </option>
                                                    <option value="Advanced"> Advanced </option>
                                                </InputSelectCustom>

                                            </div>
                                        </div>

                                        <div>
                                            <DataAnnotationsValidator />
                                            <ValidationSummary />
                                        </div>

                                        



                                    </div>
                                </div>


                            </li>

                            <li>

                                <div class="row">
                                    <div class="col-xl-10 m-auto">
                                        <ul class="c-curriculum" uk-accordion>
                                            @if (OneCourse.Chapters != null && OneCourse.Chapters.Count() > 0)
                                            {
                                                foreach (var OneChapter in OneCourse.Chapters)
                                                {
                                                    <li class="uk-open">
                                                        <a class="uk-accordion-title" href="#">
                                                            <i class="uil-folder"></i> @OneChapter.Title
                                                        </a>
                                                        <div class="action-btn btn-act">
                                                            <a href="javascript:void(0)" @onclick="@(() => AddEpisode(OneChapter))" uk-tooltip="Add episode"><i class="uil-plus"></i></a>
                                                            <a href="javascript:void(0)" @onclick="@(() => DeleteChapter(OneChapter))" uk-tooltip="Delete chapter"> <i class="uil-trash"></i> </a>
                                                        </div>
                                                        <div class="uk-accordion-content">
                                                            <ul class="sec-list">
                                                                @if (OneChapter.Episodes != null && OneChapter.Episodes.Count() > 0)
                                                                {
                                                                    foreach (var OneEpisode in OneChapter.Episodes)
                                                                    {
                                                                        <li>
                                                                            <div class="sec-list-item">
                                                                                <div>
                                                                                    <label class="mb-0 mx-2">
                                                                                        <input class="uk-checkbox uk-margin-remove" type="checkbox">
                                                                                    </label>
                                                                                    <p> @OneEpisode.Title </p>
                                                                                </div>
                                                                                <div>
                                                                                    <div class="btn-act">
                                                                                        <a href="javascript:void(0)" @onclick="@(() => EditEpisode(OneChapter, OneEpisode))" uk-tooltip="Edit episode"><i class="uil-edit-alt"></i></a>
                                                                                        <a href="javascript:void(0)" @onclick="@(() => DeleteEpisode(OneChapter, OneEpisode))" uk-tooltip="Delete episode"><i class="uil-trash"></i></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                        <a href="javascript:void(0)" @onclick="AddChapter" class="btn btn-default mt-3 mr-2"><i class="uil-folder"></i> Add chapter </a>
                                    </div>
                                </div>

                            </li>

                            <li>

                                <div class="row justify-content-center">
                                    <div class="col-xl-9">
                                        <div class="drag-drop-zone">
                                            <InputFile OnChange="HandleSelection" />
                                            Drop a file here or click to choose one
                                        </div>

                                        @if (OneCourse.Image != null)
                                        {
                                            <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(OneCourse.Image.Data))" />
                                        }
                                    </div> <!-- end col -->
                                </div>


                            </li>

                            <li>

                                <div class="row justify-content-center">
                                    <div class="col-xl-9">

                                        <button class="btn btn-default mb-3" onclick="createNewElement();">
                                            <i class='uil-plus'></i> Requirements
                                        </button>

                                        <div id="newElementId"> </div>

                                        <input type='text' class='uk-input'
                                               placeholder="Any computer will work: Windows, macOS or Linux">
                                        <input type='text' class='uk-input'
                                               placeholder="Basic programming HTML and CSS.">
                                        <input type='text' class='uk-input'
                                               placeholder="Basic/Minimal understanding of JavaScript">
                                    </div>
                                </div>
                            </li>

                            <li>

                                <div class="row justify-content-center">

                                    <div class="col-xl-9">

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label">Course price ($)</label>
                                            <div class="col-md-9">
                                                <input type="number" class="form-control" placeholder="Enter  price">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-xl-9">

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label">
                                                Discounted
                                                price ($)
                                            </label>
                                            <div class="col-md-9">
                                                <input class="form-control">
                                                <small class="text-muted">
                                                    This course has <span class="text-danger">10%</span>
                                                </small>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </li>

                            <li>

                                <div class="row">
                                    <div class="col-12 my-lg-5">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="icon-feather-check-circle text-success"></i></h2>
                                            <h3 class="mt-0">Thank you !</h3>

                                            <p class="w-75 mb-2 mx-auto"> Submit This Course For Reweiw  </p>

                                            <div class="mb-3 mt-3">
                                                <button type="button" class="btn btn-default">Submit</button>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>


                            </li>

                        </ul>

                    </div>

                    <div class="uk-flex uk-flex-right pt-0 p-5">
                        <button class="btn btn-light mr-2" @onclick="NavigateToList">Cancel</button>
                        <button class="btn btn-default mr-2" type="submit">Save Changes</button>
                        @if (OneCourse.Id > 0)
                        {
                            <a href="javascript:void(0)" class="btn btn-danger" @onclick="@DeleteCourse">
                                Delete
                            </a>
                        }
                    </div>

                </EditForm>

            </div>

            <Footer></Footer>

        </div>

    </div>

</div>