@page "/admin/instructor/{Id:int}"
@inherits InstructorEditBase

<div id="wrapper">

    <Header Class="header" UkSticky="top:20; cls-active:header-sticky">
        <Breadcrumbs>
            <li><a href="/" uk-tooltip="title:Home; pos:bottom; offset:21"> <i class="uil-home-alt"></i> </a></li>
            <li><a href="/admin/dashboard">Admin dashboard</a></li>
            <li><a href="/admin/instructors">All instructors</a></li>
            <li>@OneInstructor?.User?.FirstName @OneInstructor?.User?.LastName</li>
        </Breadcrumbs>
    </Header>

    <SearchOnMobile></SearchOnMobile>

    <SearchOnDesktop></SearchOnDesktop>

    <SideNav></SideNav>

        <div class="page-content">
            <div class="page-content-inner">

                <div uk-grid>

                    <div class="uk-width-3-5@m">

                        <div class="card rounded">
                            <div class="p-3">
                                <h4 class="float-left mb-0"> Instructor #@Id</h4>
                                <div class="float-right @StatusClass"><b>@Message</b></div>
                            </div>

                            <hr class="m-0">

                            @if (OneInstructor != null && OneInstructor.User != null)
                            {
                                <EditForm Model="@OneInstructor.User" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" class="uk-child-width-1-1@s uk-grid-small p-4" uk-grid>

                                    <div>
                                        <div class="uk-form-group">
                                            <label class="uk-form-label">Email</label>
                                            <div class="uk-position-relative w-100">
                                                <InputText Id="email" class="uk-input form-control" @bind-Value="OneInstructor.User.Email" placeholder="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="uk-form-group">
                                            <label class="uk-form-label">FirstName</label>
                                            <div class="uk-position-relative w-100">
                                                <InputText Id="firstname" class="uk-input form-control" @bind-Value="OneInstructor.User.FirstName" placeholder="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="uk-form-group">
                                            <label class="uk-form-label">LastName</label>
                                            <div class="uk-position-relative w-100">
                                                <InputText Id="lastname" class="uk-input form-control" @bind-Value="OneInstructor.User.LastName" placeholder="" />
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="uk-width-1-3@s">
                                        <div class="uk-form-group">
                                            <label for="featured" class=" offset-sm-3">
                                                <InputCheckbox id="verified" class="uk-checkbox" @bind-Value="@OneInstructor.User.Verified"></InputCheckbox>
                                                &nbsp;Verified
                                            </label>
                                        </div>
                                    </div>*@

                                <div>
                                    @*<DataAnnotationsValidator />*@
                                    <FluentValidationValidator />
                                    <ValidationSummary />
                                </div>

                                    <div class="uk-flex uk-flex-right pt-4">
                                        <button class="btn btn-light mr-2" @onclick="NavigateToList">Cancel</button>
                                        <button class="btn btn-default mr-2" type="submit">Save Changes</button>
                                        @if (OneInstructor.Id > 0)
                                        {
                                            <a class="btn btn-danger" @onclick="@DeleteInstructor">
                                                Delete
                                            </a>
                                        }
                                    </div>

                                </EditForm>
                            }
                        </div>

                    </div>

                    <div class="uk-width-2-5@m">
                        
                        <div class="drag-drop-zone">
                            <InputFile OnChange="HandleSelection" />
                            Drop a file here or click to choose one
                        </div>

                        @if (OneInstructor.User != null && OneInstructor.User.Avatar != null)
                        {
                            <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(OneInstructor.User.Avatar.Data))" />
                        }

                    </div>

                </div>

                <Footer></Footer>

            </div>

        </div>

</div>
