@page "/admin/quiz/{Id:int}"
@inherits QuizEditBase
@attribute [Authorize(Policy = Policies.IsAdmin)]

<div id="wrapper">

    <Header Class="header" UkSticky="top:20; cls-active:header-sticky">
        <Breadcrumbs>
            <li><a href="/"> <i class="uil-home-alt"></i> </a></li>
            <li><a href="/admin/dashboard">Admin dashboard</a></li>
            <li><a href="/admin/quizzes">All quizzes</a></li>
            <li>@OneQuiz.Title</li>
        </Breadcrumbs>
    </Header>

    <SearchOnMobile></SearchOnMobile>

    <SearchOnDesktop></SearchOnDesktop>

    <SideNav></SideNav>

    <!-- content -->
    <div class="page-content">
        <div class="page-content-inner">

            <div class="card">
                <div class="card-header border-bottom-0 py-4">
                    <h4 class="float-left mb-0"> Quiz @OneQuiz.Id </h4>
                    <div class="float-right @StatusClass"><b>@Message</b></div>
                </div>


                <ul class="uk-child-width-expand uk-tab"
                    uk-switcher="connect: #quiz-edit-tab ; animation: uk-animation-fade">
                    <li class="uk-active"><a href="#"> Title </a></li>
                    <li><a href="#"> Description </a></li>
                    <li><a href="#"> Extra </a></li>
                    <li><a href="#"> Episodes </a></li>
                    <li><a href="#"> Image </a></li>
                    <li><a href="#"> Requirements </a></li>
                    <li><a href="#"> Finish </a></li>
                </ul>

                <EditForm Model="@OneQuiz" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" ccclass="uk-child-width-1-1@s uk-grid-small p-4">

                    <div class="card-body">

                        <ul class="uk-switcher uk-margin" id="quiz-edit-tab">

                            <li>

                                <div class="row">
                                    <div class="col-xl-9 m-auto">

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="title">
                                                Quiz title<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <InputText Id="title" class="uuuuk-input form-control" @bind-Value="OneQuiz.Title" placeholder="" />
                                            </div>
                                        </div>

                                        @*<div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="subtitle">
                                                Subtitle
                                            </label>
                                            <div class="col-md-9">
                                                <InputTextArea Id="subtitle" rows="1" class="form-control" @bind-Value="OneQuiz.SubTitle" />
                                            </div>
                                        </div>*@

                                    </div>
                                </div>

                            </li>

                            <li id="quill-tab">

                                @if (EditorEnabled)
                                {
                                    <div id="quill-toolbar">
                                        <span class="ql-formats">
                                            <select class="ql-font">
                                                <option selected=""></option>
                                                <option value="serif"></option>
                                                <option value="monospace"></option>
                                            </select>
                                            <select class="ql-size">
                                                <option value="small"></option>
                                                <option selected=""></option>
                                                <option value="large"></option>
                                                <option value="huge"></option>
                                            </select>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                            <button class="ql-strike"></button>
                                        </span>
                                        <span class="ql-formats">
                                            <select class="ql-color"></select>
                                            <select class="ql-background"></select>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered"></button>
                                            <button class="ql-list" value="bullet"></button>
                                            <button class="ql-indent" value="-1"></button>
                                            <button class="ql-indent" value="+1"></button>
                                            <select class="ql-align">
                                                <option selected=""></option>
                                                <option value="center"></option>
                                                <option value="right"></option>
                                                <option value="justify"></option>
                                            </select>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-link"></button>
                                        </span>
                                    </div>
                                }

                                <div id="quill-editor" @ref="@divEditorElement" />

                            </li>

                            <li>

                                <div class="row">
                                    <div class="col-xl-9 m-auto">

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="profile">
                                                Owner <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                 <InputSelectCustom id="owner" class="form-control col-sm-8" @bind-Value="@OneQuiz.OwnerId">
                                                    <option value=""></option>
                                                    @foreach (var profile in Profiles)
                                                    {
                                                        <option value="@profile.Id">@profile.User.FirstName @profile.User.LastName</option>
                                                    }
                                                </InputSelectCustom>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="category">
                                                Category <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <InputSelectCustom id="category" class="form-control col-sm-8" @bind-Value="@OneQuiz.CategoryId">
                                                    <option value=""></option>
                                                    @foreach (var category in Categories)
                                                    {
                                                        <option value="@category.Id">@category.Name</option>
                                                    }
                                                </InputSelectCustom>
                                            </div>
                                        </div>

                                        @*<div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="language">
                                                Language <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">

                                                <InputSelectCustom Id="language" class="form-control col-sm-8" @bind-Value="OneQuiz.Language">
                                                    <option value=""></option>
                                                    <option value="English">English</option>
                                                    <option value="French">French</option>
                                                </InputSelectCustom>

                                            </div>
                                        </div>*@

                                        @*<div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="difficulty">
                                                Difficulty <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">

                                                <InputSelectCustom Id="difficulty" class="uuuuk-select form-control col-sm-8" @bind-Value="OneQuiz.Difficulty">
                                                    <option value=""></option>
                                                    <option value="Beginner"> Beginner </option>
                                                    <option value="Intermediate"> Intermediate </option>
                                                    <option value="Advanced"> Advanced </option>
                                                </InputSelectCustom>

                                            </div>
                                        </div>*@

                                        <div class="form-group row mb-3">
                                            <div class="col-md-9">
                                                <InputCheckbox id="featured" class="uk-checkbox" @bind-Value="@OneQuiz.Featured"></InputCheckbox>
                                                &nbsp;Featured
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <div class="col-md-9">
                                                <InputCheckbox id="popular" class="uk-checkbox" @bind-Value="@OneQuiz.Popular"></InputCheckbox>
                                                &nbsp;Popular
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </li>

                            <li>

                                <div class="row">
                                    <div class="col-xl-10 m-auto">
                                        <ul class="c-curriculum" uk-accordion>
                                            @if (OneQuiz.Chapters != null && OneQuiz.Chapters.Count() > 0)
                                            {
                                                foreach (var OneChapter in OneQuiz.Chapters)
                                                {
                                                    <li class="uk-open">
                                                        <a class="uk-accordion-title" href="#">
                                                            <i class="uil-folder"></i> @OneChapter.Title
                                                        </a>
                                                        <div class="action-btn btn-act">
                                                            <a href="javascript:void(0)" @onclick="@(() => AddEpisode(OneChapter))" uk-tooltip="Add episode"><i class="uil-plus"></i></a>
                                                            <a href="javascript:void(0)" @onclick="@(() => DeleteChapter(OneChapter))" uk-tooltip="Delete chapter"> <i class="uil-trash"></i> </a>
                                                        </div>
                                                        <div class="uk-accordion-content">
                                                            <ul class="sec-list">
                                                                @if (OneChapter.Episodes != null && OneChapter.Episodes.Count() > 0)
                                                                {
                                                                    foreach (var OneEpisode in OneChapter.Episodes)
                                                                    {
                                                                        <li>
                                                                            <div class="sec-list-item">
                                                                                <div>
                                                                                    <label class="mb-0 mx-2">
                                                                                        <input class="uk-checkbox uk-margin-remove" type="checkbox">
                                                                                    </label>
                                                                                    <p> @OneEpisode.Title </p>
                                                                                </div>
                                                                                <div>
                                                                                    <div class="btn-act">
                                                                                        <a href="javascript:void(0)" @onclick="@(() => EditEpisode(OneChapter, OneEpisode))" uk-tooltip="Edit episode"><i class="uil-edit-alt"></i></a>
                                                                                        <a href="javascript:void(0)" @onclick="@(() => DeleteEpisode(OneChapter, OneEpisode))" uk-tooltip="Delete episode"><i class="uil-trash"></i></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                        <a href="javascript:void(0)" @onclick="AddChapter" class="btn btn-default mt-3 mr-2"><i class="uil-folder"></i> Add chapter </a>
                                    </div>
                                </div>

                            </li>

                            <li>

                                <div class="row justify-content-center">
                                    <div class="col-xl-9">
                                        <div class="drag-drop-zone">
                                            <InputFile OnChange="HandleSelection" />
                                            Drop a file here or click to choose one
                                        </div>

                                        @if (OneQuiz.Image != null)
                                        {
                                            <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(OneQuiz.Image.Data))" />
                                        }
                                    </div> <!-- end col -->
                                </div>


                            </li>

                            <li>

                                <div class="row justify-content-center">
                                    <div class="col-xl-9">

                                        <button class="btn btn-default mb-3" onclick="createNewElement();">
                                            <i class='uil-plus'></i> Requirements
                                        </button>

                                        <div id="newElementId"> </div>

                                        <input type='text' class='uk-input'
                                               placeholder="Any computer will work: Windows, macOS or Linux">
                                        <input type='text' class='uk-input'
                                               placeholder="Basic programming HTML and CSS.">
                                        <input type='text' class='uk-input'
                                               placeholder="Basic/Minimal understanding of JavaScript">
                                    </div>
                                </div>
                            </li>

                            <li>

                                <div class="row">
                                    <div class="col-12 my-lg-5">
                                        <div class="text-center">
                                            <h2 class="mt-0"><i class="icon-feather-check-circle text-success"></i></h2>
                                            <h3 class="mt-0">Thank you !</h3>

                                            <p class="w-75 mb-2 mx-auto"> Submit This quiz For Reweiw  </p>

                                            <div class="mb-3 mt-3">
                                                <button type="button" class="btn btn-default">Submit</button>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>


                            </li>

                        </ul>

                    </div>

                    <div>
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                    </div>


                    <div class="uk-flex uk-flex-right pt-0 p-5">
                        <button class="btn btn-light mr-2" @onclick="NavigateToList">Cancel</button>
                        <button class="btn btn-default mr-2" type="submit">Save Changes</button>
                        @if (OneQuiz.Id > 0)
                        {
                            <a href="javascript:void(0)" class="btn btn-danger" @onclick="@DeleteQuiz">
                                Delete
                            </a>
                        }
                    </div>

                </EditForm>

            </div>

            <Footer></Footer>

        </div>

    </div>

</div>